<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="WorkoutTypeImages" value="C:\SCT Documents\IIT\Enterprise Application Development\C# Workspace\FitnessTracker\FitnessTracker\Images\WorkoutType\" />
		<add key="MealSatisfactionImages" value="C:\SCT Documents\IIT\Enterprise Application Development\C# Workspace\FitnessTracker\FitnessTracker\Images\MealSatisfaction\" />
	</appSettings>
</configuration>